@keyframes navfade {
  from{opacity: 0;}
  to{opacity: 1;}
}
@-webkit-keyframes navfade {
  from{opacity: 0;}
  to{opacity: 1;}
}

.Fadein{
  animation-name: navfade;
  -webkit-animation-name: brettsface;
  animation-duration: 5s;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.right{
float: right;

}




body {
  font-family: 'Acme', sans-serif;
  margin: 0;
  width: 100%;
  opacity:0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  background-color: #0062FF;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}
.link-size{


}
.big-letters{
font-size: 2.5em;

}


.nav-items {
  display: inline;
  padding: 10px;
  font-size: 48px;
  color: #0062FF;

}

.nav-link {
  text-decoration: none;
  color: #0062FF;
  font-size:1.5em;
}
.nav-link:hover{
  color: red;
}

.nav-link2 {
  text-decoration: none;
  color: black;
  font-size:2.5em;
}
.nav-link2:hover{
  color: red;
}
.Size {
  height: 200px;
  width: 150px;
}

.nav {
  margin: 0;
  margin-top: -20px;
  padding: 0;
  background-color: black;
}

.nav-container {
  margin: 0;
  padding: 25px 0;
}
.img {
    border-radius: 50%;
}

.roundrect {
border-radius: 15px;
}
.color-green {
  color: #0062FF;
  font-size: 2em;
}
